@media (max-width: 900px) {

    body .container{
        height: auto;
    }

    body .card{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }

    body .container .card .description{
        width: auto;
        height: auto;
        text-align: center;
        padding: 20px 10px 15px 10px;
        border-radius: 0 0 7px 7px;
    }

    body .container .card .description h2{
        font-size: 20px;
        margin: -5px 4px 0;
    }

    body .container .card .description p{
        font-size: 11px;
        text-align: center;
        padding: 5px;
        margin: 10px 5px 15px;
    }

    body .container .card .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: -10px 0 5px;
    }

    body .container .card .services .stats{
        padding: 12px;
    }

    body .container .card .card_img{
        background-image: url(../images/image-header-mobile.jpg);
        width: auto;
        height: 175px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 7px 7px 0 0;
    }

    body .container .card .card_img .card_img_accent{
        border-radius: 7px 7px 0 0;
    }
}

@media(min-width: 800px){
    body .container .card .services{
        justify-content: space-between;
    }

    body .container .card .services .stats{
        padding: 2px;
        margin-left: 25px;
    }
}

